body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana;
    background-color: rgb(35, 35, 35);
    text-align: center;
}

header {
    background-color: rgb(80, 131, 182);
    width: 100%;
}

#actions {
    background-color: white;
    width: 100%;
}

#colors {
    display: flex;
    width: 540px;
    flex-wrap: wrap;
}

.color {
    height: 150px;
    width: 150px;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
}

.act {
    margin-right: 100px;
}